@font-face {
    font-family: 'NeueMontreal-Bold';
    src: url('fonts/NeueMontreal/NeueMontreal-Bold.otf') format('opentype');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal-Light';
    src: url('fonts/NeueMontreal/NeueMontreal-Light.otf') format('opentype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "NeueMontreal";
    src: url("fonts/NeueMontreal/NeueMontreal-Regular.otf") format('opentype');
    font-weight: normal;
    font-display: swap;
}

:root {
    --bg-color1: #EDE9E8;
    --bg-color2: black;
  }

* {
    margin: 0;
    padding: 0;
}

.bg-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(60deg, var(--bg-color2, black), var(--bg-color1, #EDE9E8));
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease-in-out infinite;
    padding: 7vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--bg-color1, #EDE9E8);
    box-sizing: border-box;
    height: 100%;
    width: 100%; 
}

.mainbody {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 1rem
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 2rem;
    width: 60%;
    padding: 1rem;
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    padding: 1rem;
    box-sizing: border-box;
}

.contact_form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1:has(+ p) {
    font-family: 'NeueMontreal-Light', Arial, sans-serif;
    font-size: 4.5rem;
    line-height: 3.5rem;
    color: var(--bg-color1, #EDE9E8);
    padding: 0.5rem 0rem 0.5rem 0rem;
}

h2 {
    font-family: 'NeueMontreal-Light', Arial, sans-serif;
    font-size: 4.5rem;
    line-height: 3.5rem;
    color: var(--bg-color1, #EDE9E8);
    padding: 0.5rem 0rem 0.5rem 0rem;
    text-align: right;
}

h3 {
    font-family: 'NeueMontreal', Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: var(--bg-color1, #EDE9E8);
    padding:  0.5rem 0rem 0.5rem 0rem;

}

header p {
    font-family: 'NeueMontreal-Light', Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: lighter;
    color: var(--bg-color1, #EDE9E8);
    padding: 0.5rem 0rem 0.5rem 0rem
}

p {
    font-family: 'NeueMontreal', Arial, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: var(--bg-color1, #EDE9E8);
}

ul {
    font-family: 'NeueMontreal', Arial, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: var(--bg-color1, #EDE9E8);
    padding-inline-start: 2rem;
}

nav {
    align-self: flex-start;
}

picture {
    display: flex;
    justify-content: center;
}

img {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

form {
    font-family: 'NeueMontreal', Arial, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: var(--bg-color1, #EDE9E8);
    width: 20rem
}

label {
    margin-bottom: 5px;
    align-self: center;
}

input, textarea {
    padding: 8px;
    box-sizing: border-box; 
    width: 100%; 
}

input[type="submit"] {
    background-color: var(--bg-color2, black);
    color: var(--bg-color1, #EDE9E8); 
    font-family: 'NeueMontreal', Arial, sans-serif;
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

input[type="submit"]:hover {
    background-color: #A9A9A9; 
}

input:user-invalid {
    border: 2px solid red;
}

textarea:user-invalid {
    border: 2px solid red;
}

.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: var(--bg-color1, #EDE9E8);
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

.chillin {
    color: rgb(111, 209, 136);
}

.warn {
    color: rgb(255, 199, 95);
}

.nearlimit {
    color: rgb(252, 110, 110);
}

.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    background-color: var(--bg-color2, black);
    border-radius: 15px;
    padding: 10px;
}

.toggle-label {
    margin-right: 10px;
    font-family: 'NeueMontreal', Arial, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: var(--bg-color1, #EDE9E8);
}

.toggle-btn {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 20px;
    outline: none;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 90%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 90%;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 1024px) {
    .mainbody {
        flex-direction: column;
      }
  
    .images {
        width: 100%;
    }

    .info {
        width: 100%;
    }

    h2 {
        text-align: left;
        font-size: 3rem;
        line-height: 2.5rem;
    }
}
